.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(13, 15, 20, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* on top */
}

.spinner {
  animation: spin 1.5s linear infinite;
  width: 64px;
  height: 64px;
}

/* Spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}